In [2]:
import scipy
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
pd.read_csv("LockInAmp.csv")

    Freq (Hz)  Min (uV)  Max (uV)  Avg (uV)
0          30     16.78     16.80    16.790
1          60     12.82     22.30    17.560
2          90     16.82     16.84    16.830
3         120     16.79     16.86    16.825
4         150     16.83     16.83    16.830
5         180     10.44     21.10    16.900
6         210     16.85     16.85    16.850
7         240     16.85     16.85    16.850
8         270     16.86     16.86    16.860
9         300     14.36     21.90    17.145
10        330     16.86     16.86    16.860
11        360     16.81     16.88    16.845
12        390     16.86     16.86    16.860
13        420     16.83     16.88    16.855